<div class="row m-2" *ngIf="sessao">

  <div class="col-md-4 box-shadow-title">
    <h1 class="text-center p-0 my-1 font-titulo">{{titulo}}</h1>
  </div>

  <div class="col-md-12 box-shadow">

    <div class="row">
      <div class="col-md-10">
        <div class="row">
          <div class="col-md-5 form">
            <input class="col-md-12 textbox" type="text" value={{produtoFiltro.id}}
              [(ngModel)]="produtoFiltro.id">
            <label class="pr-2 form-label" style="font-size: 13px;">Código de Barras</label>
          </div>
    
          <div class="col-md-2 form">
            <input class="col-md-12 textbox" type="text" value={{produtoFiltro.qtProduto}}
              [(ngModel)]="produtoFiltro.qtProduto">
            <label class="pr-2 form-label" style="font-size: 13px;">Quantidade</label>
          </div>

          <div class="col-md-2 form">
            <input class="col-md-12 textbox text-right pr-2" type="number" 
            value={{produtoFiltro.vlUnitario}}
              [(ngModel)]="produtoFiltro.vlUnitario" [disabled]="true">
            <label class="pr-2 form-label" style="font-size: 13px;">Valor Unitário</label>
          </div>
    
          <div class="col-md-3">
            <div class="row">
              <div class="col-md-9 form">
                <input class="col-md-12 textbox text-right pr-2" type="number" 
                value={{produtoFiltro.vlUnitario}}
                  [(ngModel)]="produtoFiltro.vlUnitario" [disabled]="true">
                <label class="pr-2 form-label" style="font-size: 13px;">Total do Item</label>
              </div>
              <div class="col-md-3">
                <button type="button" class="btn btn-info float-right ml-2 mt-3" title="Calcular" (click)="pesquisaFiltros()">
                  <i class="fas fa-calculator"></i>
                </button>
              </div>
            </div>
          </div>

          <table class="table mt-2 m-2" style="min-height: 560px">

            <thead>
              <tr>
                <th colspan="8" class="text-center" style="font-size: 18px;">
                    LISTA DE PRODUTOS
                </th>
              </tr>
              <tr>
                <th></th>
                <th scope="col">Código</th>
                <th scope="col">Produto</th>
                <th scope="col">Categoria</th>
                <th scope="col">Marca</th>
                <th scope="col">Quantidade</th> 
                <th scope="col">Valor Unitário</th> 
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let pedido of listaPedidos">
                <td>
                  <button class="btn btn-rounded btn-info" title="Editar" (click)="editarPedido(pedido)">
                    <i class="fas fa-pen"></i>
                  </button>
                </td>
                <td>{{pedido.id}}</td>
                <td>{{pedido.deProduto}}</td>
                <td>{{pedido.deCategoria}}</td>
                <td>{{pedido.deMarca}}</td>
                <td class="text-right">{{pedido.qtProduto}}</td>
                <td class="text-right">{{pedido.vlUnitario | currency : 'BRL'}}</td>
              </tr>
              <tr style="font-size: 18px;">  
                <td class="text-right" colspan="6"><b>Total:</b></td>
                <td class="text-right"> 0,00</td>
              </tr>
      
            </tbody>
          </table>
        </div>
      </div>

      <div class="col-md-2 px-5">
        <div class="row">
          <div class="col-md-12 box-shadow-produto" style="height: 200px;">

            <!-- Imagem produto -->
            
          </div>
        </div>
      </div>
    </div>




    <div class="row">
      <div class="col-md-12 ">

        <button type="button" class="btn btn-success float-right mt-4" (click)="incluirProduto()">
          <i class="fas fa-plus"></i>
          
        </button>

      </div>
    </div>
  </div>

</div>
