<div class="row m-2">

  <div class="col-md-4 box-shadow-title">
    <h1 class="text-center p-0 my-1 font-titulo">{{titulo}}</h1>
  </div>

  <div class="col-md-12 box-shadow">
    <div class="row">
      <div class="form-check ml-3">
        <input class="form-check-input" type="checkbox" value={{clienteSelecionado.isPessoaJuridica}}
          [(ngModel)]="clienteSelecionado.isPessoaJuridica" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
          Pessoa Jurídica
        </label>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-md-6 form">
        <input class="col-md-12 textbox" type="text" value={{clienteSelecionado.deCliente}}
          [(ngModel)]="clienteSelecionado.deCliente" >
        <label class="pr-2 form-label" style="font-size: 13px;">Nome</label>
      </div>

      <div class="col-md-3 form">
        <input class="col-md-12 textbox" type="text" [mask]="clienteSelecionado.isPessoaJuridica == true ? cnpj : cpf" value={{clienteSelecionado.nuCpfCnpj}}
          [(ngModel)]="clienteSelecionado.nuCpfCnpj">
        <label class="pr-2 form-label" style="font-size: 13px;">{{clienteSelecionado.isPessoaJuridica == true ? 'CNPJ':
          'CPF'}}</label>
      </div>

      <div class="col-md-3 form">
        <input class="col-md-12 textbox" type="text" [mask]="cep" value={{clienteSelecionado.nuCep}}
          [(ngModel)]="clienteSelecionado.nuCep" >
        <label class="pr-2 form-label" style="font-size: 13px;">CEP</label>
      </div>

      <div class="col-md-3 form">
        <input class="col-md-12 textbox" type="text" value={{clienteSelecionado.dePais}}
          [(ngModel)]="clienteSelecionado.dePais" >
        <label class="pr-2 form-label" style="font-size: 13px;">País</label>
      </div>

      <div class="col-md-3 form">
        <input class="col-md-12 textbox" type="text" value={{clienteSelecionado.deEstado}}
          [(ngModel)]="clienteSelecionado.deEstado" >
        <label class="pr-2 form-label" style="font-size: 13px;">Estado</label>
      </div>

      <div class="col-md-3 form">
        <input class="col-md-12 textbox" type="text" value={{clienteSelecionado.deCidade}}
          [(ngModel)]="clienteSelecionado.deCidade" >
        <label class="pr-2 form-label" style="font-size: 13px;">Cidade</label>
      </div>

      <div class="col-md-3 form">
        <input class="col-md-12 textbox" type="text" value={{clienteSelecionado.deBairro}}
          [(ngModel)]="clienteSelecionado.deBairro" >
        <label class="pr-2 form-label" style="font-size: 13px;">Bairro</label>
      </div>

      <div class="col-md-3 form">
        <input class="col-md-12 textbox" type="text" [mask]="telefone"  value={{clienteSelecionado.nuTelefone}}
          [(ngModel)]="clienteSelecionado.nuTelefone" >
        <label class="pr-2 form-label" style="font-size: 13px;">Telefone</label>
      </div>
      
      <div class="col-md-6 form">
        <input class="col-md-12 textbox" type="text" value={{clienteSelecionado.deRua}}
          [(ngModel)]="clienteSelecionado.deRua" >
        <label class="pr-2 form-label" style="font-size: 13px;">Rua</label>
      </div>

      <div class="col-md-3 form">
        <input class="col-md-12 textbox" type="text" value={{clienteSelecionado.deReferencia}}
          [(ngModel)]="clienteSelecionado.deReferencia" >
        <label class="pr-2 form-label" style="font-size: 13px;">Referência</label>
      </div>

      <div class="col-md-12 form">
        <textarea class="col-md-12 textbox" style="height: 75px;" id="story" name="story"
                  rows="5" cols="33">
        </textarea>
        <label class="pr-2 form-label" style="font-size: 13px;">Obs</label>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 mt-4">

        <button type="button" class="btn btn-outline-secondary float-left" (click)="voltar($event)">
          <i class="fas fa-arrow-left"></i>
          Voltar
        </button>

        <button type="button" class="btn btn-success float-right ml-2" title="Salvar" (click)="salvar()">
          <i class="far fa-save"></i>
        </button>

        <button type="button" class="btn btn-danger float-right" title="Excluir" (click)="deleteCliente()">
          <i class="far fa-trash-alt"></i>
        </button>

      </div>
    </div>

  </div>
</div>