<div class="row m-2" *ngIf="sessao">

  <div class="col-md-4 box-shadow-title">
    <h1 class="text-center p-0 my-1 font-titulo">{{titulo}}</h1>
  </div>

  <div class="col-md-12 box-shadow">
    <div class="row">
      <div class="col-md-4 form">
        <input class="col-md-12 textbox" type="text" value={{clienteFiltro.deCliente}}
          [(ngModel)]="clienteFiltro.deCliente">
        <label class="pr-2 form-label" style="font-size: 13px;">Nome</label>
      </div>

      <div class="col-md-2 form">
        <input class="col-md-12 textbox" type="text" value={{clienteFiltro.nuCpfCnpj}}
          [(ngModel)]="clienteFiltro.nuCpfCnpj">
        <label class="pr-2 form-label" style="font-size: 13px;">CPF / CNPJ</label>
      </div>

      <div class="col-md-1 form">
        <input class="col-md-12 textbox" type="text" value={{clienteFiltro.dePais}}
          [(ngModel)]="clienteFiltro.dePais">
        <label class="pr-2 form-label" style="font-size: 13px;">País</label>
      </div>

      <div class="col-md-2 form">
        <input class="col-md-12 textbox" type="text" value={{clienteFiltro.deEstado}}
          [(ngModel)]="clienteFiltro.deEstado">
        <label class="pr-2 form-label" style="font-size: 13px;">Estado</label>
      </div>

      <div class="col-md-3">
        <div class="row">
          <div class="col-md-9 form">
            <input class="col-md-12 textbox" type="text" value={{clienteFiltro.deCidade}}
              [(ngModel)]="clienteFiltro.deCidade">
            <label class="pr-2 form-label" style="font-size: 13px;">Cidade</label>
          </div>
          <div class="col-md-3">
            <button type="button" class="btn btn-info float-right ml-2 mt-3" title="Pesquisar" (click)="pesquisaFiltros()">
              <i class="fas fa-search"></i>
            </button>
          </div>
        </div>
      </div>
    </div>

    <table class="table mt-5">
      <thead>
        <tr>
          <th></th>
          <th scope="col">Nome</th>
          <th scope="col">CPF/CNPJ</th>
          <th scope="col">PJ</th>
          <th scope="col">País</th>
          <th scope="col">Estado</th>
          <th scope="col">Cidade</th>
          <th scope="col">Telefone</th>   
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let clienteSelecionado of listaClientes" (dblclick)="selecionaCliente(clienteSelecionado)">
          <td>
            <button class="btn btn-rounded btn-info" title="Editar" (click)="selecionaCliente(clienteSelecionado)">
              <i class="fas fa-pen"></i>
            </button>
          </td>
          <td>{{clienteSelecionado.deCliente}}</td>
          <td *ngIf="!clienteSelecionado.isPessoaJuridica">{{clienteSelecionado.nuCpfCnpj | mask: cpf}}</td>
          <td *ngIf="clienteSelecionado.isPessoaJuridica">{{clienteSelecionado.nuCpfCnpj | mask: cnpj}}</td>
          <td>
            {{clienteSelecionado.isPessoaJuridica == true ? "Sim" : "Não"}}
          </td>
          <td>{{clienteSelecionado.dePais}}</td>
          <td>{{clienteSelecionado.deEstado}}</td>
          <td>{{clienteSelecionado.deCidade}}</td>
          <td>{{clienteSelecionado.nuTelefone | mask: telefone}}</td>
        </tr>

      </tbody>
    </table>


    <div class="row">
      <div class="col-md-12 ">

        <button type="button" class="btn btn-success float-right mt-4" (click)="incluirCliente()">
          <i class="fas fa-plus"></i>
          Incluir
        </button>

      </div>
    </div>
  </div>

</div>

<app-cliente-detalhes *ngIf="!sessao" [clienteSelecionado]="clienteSelecionado" (resposta)="voltar()">

</app-cliente-detalhes>