<div class="row m-2">

  <div class="col-md-4 box-shadow-title">
    <h1 class="text-center p-0 my-1 font-titulo">{{titulo}}</h1>
  </div>

  <div class="col-md-12 box-shadow">

    <div class="row mt-4">

      <div class="col-md-4 form">
        <input class="col-md-12 textbox text-right" type="text" value={{produtoSelecionado.id}}
          [(ngModel)]="produtoSelecionado.id" >
        <label class="pr-2 form-label" style="font-size: 13px;">Código</label>
      </div>

      <div class="col-md-6 form">
        <input class="col-md-12 textbox" type="text" value={{produtoSelecionado.deProduto}}
          [(ngModel)]="produtoSelecionado.deProduto" >
        <label class="pr-2 form-label" style="font-size: 13px;">Produto</label>
      </div>

      <div class="col-md-2 form">
        <input class="col-md-12 textbox" type="text"  value={{produtoSelecionado.deMarca}}
          [(ngModel)]="produtoSelecionado.deMarca" >
        <label class="pr-2 form-label" style="font-size: 13px;">Marca</label>
      </div>

      <div class="col-md-2 form">
        <input class="col-md-12 textbox text-right pr-2" type="number" value={{produtoSelecionado.qtProduto}}
          [(ngModel)]="produtoSelecionado.qtProduto" >
        <label class="pr-2 form-label" style="font-size: 13px;">Quantidade</label>
      </div>

      <div class="col-md-2 form ">
        <input class="col-md-12 textbox text-right pr-2" type="number"  
        value={{produtoSelecionado.vlUnitario}} [(ngModel)]="produtoSelecionado.vlUnitario" >
        <label class="pr-2 form-label" style="font-size: 13px;">Valor Unitário</label>
      </div>

      <div class="col-md-2 form ">
        <select name="select" class="col-md-12 textbox">
          <option 
          *ngFor="let categoriaSelecionado of listaCategorias">
          {{categoriaSelecionado.deCategoria}}
        </option>
        </select>
        <label class="pr-2 form-label" style="font-size: 13px;">Categoria</label>
      </div>

    </div>

    <div class="row">
      <div class="col-md-12 mt-4">

        <button type="button" class="btn btn-outline-secondary float-left" (click)="voltar($event)">
          <i class="fas fa-arrow-left"></i>
          Voltar
        </button>

        <button type="button" class="btn btn-success float-right ml-2" title="Salvar" (click)="salvar()">
          <i class="far fa-save"></i>
        </button>

        <button type="button" class="btn btn-danger float-right" title="Excluir" (click)="excluirProduto()">
          <i class="far fa-trash-alt"></i>
        </button>

      </div>
    </div>

  </div>
</div>