<div class="row"> 

    <div class="col-md-3 text-center px-4" style="height: 300px; ">
        <div class="row">
            <div class="col-md-12 bg-success">
                Bloco 01
            </div>
        </div>
        
    </div>

    <div class="col-md-3 text-center px-4" style="height: 300px; ">
        <div class="row">
            <div class="col-md-12 bg-danger">
                Bloco 02
            </div>
        </div>
    </div>

    <div class="col-md-3 text-center px-4" style="height: 300px; ">
        <div class="row">
            <div class="col-md-12 bg-success">
                Bloco 03
            </div>
        </div>
        
    </div>

    <div class="col-md-3 text-center px-4" style="height: 300px; ">
        <div class="row">
            <div class="col-md-12 bg-danger">
                Bloco 04
            </div>
        </div>
    </div>


</div>